In [14]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [15]:
url = 'https://raw.githubusercontent.com/alvarofavale/week7_ml/refs/heads/main/data/encoded/encoded_data.csv'
df = pd.read_csv(url)

# Set display option to show all columns
pd.set_option('display.max_columns', None)

df.head()

,id,customer_id,month,name,age,ssn,occupation,annual_income,monthly_inhand_salary,num_bank_accounts,num_credit_card,interest_rate,num_of_loan,type_of_loan,delay_from_due_date,num_of_delayed_payment,changed_credit_limit,num_credit_inquiries,credit_mix,outstanding_debt,credit_utilization_ratio,credit_history_age,payment_of_min_amount,total_emi_per_month,amount_invested_monthly,payment_behaviour,monthly_balance,credit_score
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,1,19114.12,1824.843333,3.0,4.0,3.0,4.0,760.0,3.0,7.0,11.27,4.0,1,809.98,26.822620,265.0,1,49.574949,21.46538,1,312.494089,0
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,1,19114.12,1824.843333,3.0,4.0,3.0,4.0,760.0,3.0,4.0,11.27,4.0,1,809.98,31.944960,266.0,1,49.574949,21.46538,2,284.629162,0
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,1,19114.12,1824.843333,3.0,4.0,3.0,4.0,760.0,3.0,7.0,11.27,4.0,1,809.98,28.609352,267.0,1,49.574949,21.46538,3,331.209863,0
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,1,19114.12,1824.843333,3.0,4.0,3.0,4.0,760.0,5.0,4.0,6.27,4.0,1,809.98,31.377862,268.0,1,49.574949,21.46538,4,223.451310,0
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,1,19114.12,1824.843333,3.0,4.0,3.0,4.0,760.0,6.0,4.0,11.27,4.0,1,809.98,24.797347,269.0,1,49.574949,21.46538,5,341.489231,0

In [16]:
# Define features (X) and target (y) for classification
# Assuming 'credit_score' is the target column (modify if needed)
features = df.drop(columns=["credit_score", 'name'])  # Drop the target column from features
target = df["credit_score"]  # Use the 'credit_score' column as the target

# Split the data into training and test sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=0)

In [17]:
# Create an instance of the MinMaxScaler
normalizer = MinMaxScaler()

# Example: Fit and transform the features in your dataset
# Assuming 'X_train' is your training data (with numerical features)
X_train_scaled = normalizer.fit_transform(X_train)

# For testing data, you should only transform (don't fit again)
X_test_scaled = normalizer.transform(X_test)

# Print the scaled training data as an example
X_train.head()

,id,customer_id,month,age,ssn,occupation,annual_income,monthly_inhand_salary,num_bank_accounts,num_credit_card,interest_rate,num_of_loan,type_of_loan,delay_from_due_date,num_of_delayed_payment,changed_credit_limit,num_credit_inquiries,credit_mix,outstanding_debt,credit_utilization_ratio,credit_history_age,payment_of_min_amount,total_emi_per_month,amount_invested_monthly,payment_behaviour,monthly_balance
10382,21204,10050,7,22.0,432370614.0,14,8557.39,797.115833,8.0,6.0,22.0,2.0,220.0,37.0,15.0,7.64,7.0,3,1767.29,25.400823,143.0,3,13.168404,14.278716,4,264.590301
73171,115389,15355,4,37.0,110796188.0,15,19718.92,1676.243333,10.0,9.0,19.0,6.0,125.0,27.0,11.0,12.92,13.0,2,2057.56,28.642449,197.0,3,64.066440,29.762497,4,285.889485
30938,52040,26234,3,33.0,72362011.0,2,32045.78,2677.481667,6.0,9.0,30.0,7.0,118.0,10.0,10.0,17.19,11.0,2,1333.18,30.053861,76.0,3,169.770374,31.928687,5,285.296615
99310,154596,16851,7,42.0,170575121.0,3,62976.28,5321.023333,0.0,3.0,12.0,0.0,666.0,9.0,0.0,6.05,3.0,1,68.66,40.661773,191.0,1,0.000000,58.564706,5,711.321496
58959,94069,36442,8,39.0,718481833.0,5,57818.72,4864.226667,7.0,7.0,21.0,2.0,520.0,56.0,16.0,4.09,12.0,3,2348.77,37.882655,174.0,3,73.709570,103.616487,4,307.576874

In [18]:
# Create and train the KNN Classifier
knn_classifier = KNeighborsClassifier(n_neighbors=5)
knn_classifier.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred_class = knn_classifier.predict(X_test_scaled)

# Evaluate the classifier's performance
accuracy = accuracy_score(y_test, y_pred_class)
print(f"KNN Classifier Accuracy: {accuracy * 100:.2f}%")

# You can also use classification report for more detailed evaluation
print("Classification Report:")
print(classification_report(y_test, y_pred_class))

D:\Anaconda\Lib\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
[WinError 2] O sistema não conseguiu localizar o ficheiro especificado
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "D:\Anaconda\Lib\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "D:\Anaconda\Lib\subprocess.py", line 548, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "D:\Anaconda\Lib\subprocess.py", line 1026, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "D:\Anaconda\Lib\subprocess.py", line 1538, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

KNN Classifier Accuracy: 76.87%
Classification Report:
              precision    recall  f1-score   support

           0       0.67      0.73      0.70      3589
           1       0.80      0.80      0.80     10585
           2       0.78      0.74      0.76      5826

    accuracy                           0.77     20000
   macro avg       0.75      0.76      0.75     20000
weighted avg       0.77      0.77      0.77     20000

In [19]:
# Create and train the KNN Regressor
knn_regressor = KNeighborsRegressor(n_neighbors=5)
knn_regressor.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred_reg = knn_regressor.predict(X_test_scaled)

# Evaluate the regressor's performance
mse = mean_squared_error(y_test, y_pred_reg)
r2 = r2_score(y_test, y_pred_reg)
print(f"KNN Regressor - Mean Squared Error: {mse}")
print(f"KNN Regressor - R-squared: {r2}")

KNN Regressor - Mean Squared Error: 0.20262600000000003
KNN Regressor - R-squared: 0.5578164568292883